<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Hand rolled CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Google Merriweather Stylesheet -->
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700italic,700,400italic' rel='stylesheet' type='text/css'>

    <!-- Latest build of jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/controllers/app0.js"></script>
    <script src="/javascripts/services/app.js"></script>

  </head>
  <body ng-app="hownicareyou" ng-controller="MainCtrl">

    <ui-view></ui-view>

    <script type="text/ng-template" id="/home.html">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12" ng-repeat="testmaker in testmakers">
            <a href="#/testmakers/{{testmaker._id}}/taketest">
              <h1>How {{testmaker.first_name.substr(0,1).toUpperCase() + testmaker.first_name.substr(1)}} Are You?</h1>
            </a>
            <a href="#/testmakers/{{testmaker._id}}/leaderboard">
            <p> <i class="fa fa-users"></i>  Leaderboard</p>
            </a> |
            <a href="#/testmakers/{{testmaker._id}}/addquestions">Add Questions</a>

          </div><!-- End .Col -->
        </div><!-- End .Row -->
      </div><!-- End .Container-Fluid -->
    </script>


    <script type="text/ng-template" id="/addquestions.html">
      <div class="container-fluid">

        <div class="row">
          <div class="col-sm-12">
            <a href="#/testmakers/{{testmaker._id}}/taketest">
              <h1>How {{testmaker.first_name.substr(0,1).toUpperCase() + testmaker.first_name.substr(1)}} Are You?</h1>
            </a>
            <a href="#/testmakers/{{testmaker._id}}/leaderboard">
              <h3>Leaderboard</h3>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12" ng-repeat="question in testmaker.questions">
            <span> {{question.content}} </span>
          </div><!-- End .Col -->
        </div><!-- End .Row -->

        <div class="row">
          <div class="col-sm-6">
            <form ng-submit="addQuestion()" style="margin-top: 30px;">
              <h3>Add a new question</h3>
              <div class="form-group ">
                <input type="text" class="form-control" placeholder="Content" ng-model="content"></input>
                <input type="text" class="form-control" placeholder="Option 1" ng-model="option1"></input>
                <input type="text" class="form-control" placeholder="Option 2" ng-model="option2"></input>
                <input type="text" class="form-control" placeholder="Correct Answer" ng-model="correctAnswer"></input>
              </div>
              <button type="submit" class="btn btn-lg btn-default">Submit</button>
            </form>
          </div><!-- End .Col -->
        </div><!-- End .Row -->

      </div><!-- End .Container-Fluid -->

    </script>


    <script type="text/ng-template" id="/taketest.html">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-8">
            <a href="#/testmakers/{{testmaker._id}}/taketest">
              <h1>How {{testmaker.first_name.substr(0,1).toUpperCase() + testmaker.first_name.substr(1)}} Are You?</h1>
            </a>
            <a href="#/testmakers/{{testmaker._id}}/leaderboard">
              <p> <i class="fa fa-users"></i>  Leaderboard</p>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 col-centered">
            <div class="q-and-a">
              <!-- <div class="questions row"> <h3>{{currentQuestion.content}}</h3> </div> -->
              <div class="questions row"><h2>Question {{index -1}}</h2></div>
              <div class="options row">
                <div class="col-md-5 col-sm-5 col-xs-12 center-block">
                  <button type="button" class="btn btn-lg btn-success" ng-click="makeChoice(0)">{{currentQuestion.options[0]}}</button>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <h3>OR</h3>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12 center-block">
                  <button  type="button" class="btn btn-lg btn-success" ng-click="makeChoice(1)">{{currentQuestion.options[1]}}</button>
                </div>
              </div><!-- End .options -->
            </div><!-- End .q-and-a -->
          </div><!-- End .col -->
        </div><!-- End .row -->

      </div><!-- End .Container-Fluid -->

    </script>

    <script type="text/ng-template" id="/results.html">
      <div class="container-fluid">

        <div class="row">
          <div class="col-sm-12">
            <a href="#/testmakers/{{testmaker._id}}/taketest">
              <h1>How {{testmaker.first_name.substr(0,1).toUpperCase() + testmaker.first_name.substr(1)}} Are You?</h1>
            </a>
            <a href="#/testmakers/{{testmaker._id}}/leaderboard">
            <p> <i class="fa fa-users"></i>  Leaderboard</p>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-centered">
            <div class="q-and-a">
              <div class="questions row"><h2>You are {{score}}% Nic</h2></div>
              <div class="options row">
                <div class="col-md-5 col-sm-5 col-xs-12 center-block">

                  <button type="button" class="btn btn-lg btn-primary" ng-click="formIsVisible = !formIsVisible">Save Name</button>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-12">
                  <h3>OR</h3>
                </div>

                <div class="col-md-5 col-sm-5 col-xs-12 center-block">
                  <a href="#/testmakers/{{testmaker._id}}/taketest" class="btn btn-lg btn-danger" ng-click="restartTest()">Try Again</a>
                </div>

              </div><!-- End .options -->
            </div><!-- End .q-and-a -->
          </div><!-- End .col -->
        </div><!-- End .row -->

        <div class="row">
          <div class="col-sm-6 col-centered">
            <form ng-show="formIsVisible" ng-submit="addTesttaker(); formIsVisible = !formIsVisible; l" style="margin-top: 30px;">
              <h3>Save Your Score</h3>
                <div class="row">
                  <div class="col-sm-6 col-centered">
                    <input type="text" class="form-control" placeholder="Name" ng-model="name"></input>
                  </div>
                </div>
                <div class ="row">
                  <button type="submit" class="btn btn-sm btn-success">Submit</button>
                </div>
            </form>
          </div><!-- End .Col -->
        </div><!-- End .Row -->

      </div><!-- End .Container-Fluid -->

    </script>


    <script type="text/ng-template" id="/leaderboard.html">

      <div class="container-fluid">

        <div class="row">
          <div class="col-sm-12">
            <a href="#/testmakers/{{testmaker._id}}/taketest">
              <h1>How {{testmaker.first_name.substr(0,1).toUpperCase() + testmaker.first_name.substr(1)}} Are You?</h1>
            </a>
            <a href="#/testmakers/{{testmaker._id}}/leaderboard">
            <p> <i class="fa fa-users"></i>  Leaderboard</p>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-centered centered">
            <div class="heading"><h2>Leaderboard</h2></div>
              <table class="table-bordered table-hover centered" id="leaderboard">
                <tr ng-repeat="testtaker in testmaker.testtakers | orderBy: '-score'">
                  <td>{{testtaker.name}}
                  </td>
                  <td>{{testtaker.score}}% Nic
                  </td>
                </tr>
              </table>
          </div><!-- End .col -->
        </div><!-- End .row -->
      </div><!-- End .Container-Fluid -->

    </script>


  </body>
</html>
