<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Hand rolled CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Google Merriweather Stylesheet -->
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700italic,700,400italic' rel='stylesheet' type='text/css'>

    <!-- Latest build of jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/controllers/app0.js"></script>
    <script src="/javascripts/services/app.js"></script>

  </head>
  <body ng-app="hownicareyou" ng-controller="MainCtrl">

    <ui-view></ui-view>

    <script type="text/ng-template" id="/home.html">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xs-12">
            <div class="page_title">
              <a href="#/home"><h1>How Me Are You?</h1></a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="home_page page_border center_block">
              <div class="row">
                <div class="col-sm-3 col-sm-offset-3 col-xs-12">
                <a href="#/make-test" class="btn btn-lg btn-primary">Make a Test</a>
                </div><!-- .col -->

                <div class="col-sm-3 col-xs-12">
                  <a href="#/take-test" class="btn btn-lg btn-primary">Take a Test</a>
                </div><!-- .col -->
              </div><!-- .row -->

            </div><!-- .home_page -->
          </div><!-- .col -->
        </div><!-- .row -->

      </div><!-- End .Container-Fluid -->
    </script>

    <script type="text/ng-template" id="/take-test.html">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xs-12">
            <div class="page_title">
              <a href="#/home"><h1>How Me Are You?</h1></a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="page_border take_test center_block">

                <div class="row"  ng-repeat="testmaker in testmakers | orderBy: '-_id'">
                  <div ng-if="testmaker.questions.length > 0" class="col-sm-8 col-sm-offset-2 col-xs-12">
                    <a href="#/testmakers/{{testmaker._id}}/taketest">
                      <h2 style="color:" >How {{testmaker.first_name.substr(0,1).toUpperCase() + testmaker.first_name.substr(1)}} {{testmaker.last_name.substr(0,1).toUpperCase() + testmaker.last_name.substr(1)}} Are You?</h2>
                    </a><br>
                    <a href="#/testmakers/{{testmaker._id}}/leaderboard"> <p> <i class="fa fa-users"></i> Leaderboard: {{testmaker.testtakers.length}} entries</p></a>
                    <!-- | <a href="#/testmakers/{{testmaker._id}}/addquestions">Add Questions</a> </p> -->
                  </div><!--  .col -->
                </div><!--  .row -->

            </div><!-- .page_border .take_test -->
          </div><!-- .col -->
        </div><!-- .row -->

      </div><!-- End .Container-Fluid -->
    </script>

    <script type="text/ng-template" id="/make-test.html">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xs-12">
            <div class="page_title">
              <a href="#/home"><h1>How Me Are You?</h1></a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="page_border center_block">

              <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-12">

                  <form ng-submit="addTestmaker()" style="margin-top: 30px;">
                    <div class ="row">
                      <h3>Create your test</h3>
                    </div>

                    <div class="name_input">
                      <div class="row ">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                          <input type="text" class="form-control" placeholder="First Name" ng-model="first_name"></input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                          <input type="text" class="form-control" placeholder="Last Name" ng-model="last_name"></input>
                        </div>
                      </div>
                    </div>

                    <div clas="row">
                      <button type="submit" class="btn btn-lg btn-default">Next</button>
                    </div>
                  </form>

                </div><!--  .col -->
              </div><!--  .row -->

            </div><!-- .page_borders -->
          </div><!-- .col -->
        </div><!-- .row -->

      </div><!-- End .Container-Fluid -->
    </script>

    <script type="text/ng-template" id="/addquestions.html">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xs-12">
            <div class="page_title">
              <a href="#/home"><h1>How Me Are You?</h1></a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="page_border create_test center_block">

              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-xs-12">

                  <div class ="row">
                    <div class="col-sm-10">
                      <h2>Create your test: <a href="#">
                        <bigger>How {{testmaker.first_name.substr(0,1).toUpperCase() + testmaker.first_name.substr(1)}} {{testmaker.last_name.substr(0,1).toUpperCase() + testmaker.last_name.substr(1)}} Are You?</bigger>
                      </a></h2>
                    </div>
                    <div class="col-sm-2">
                      <a href="#/testmakers/{{testmaker._id}}/taketest" class="btn btn-lg btn-danger submit_test"> Done</a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <h3>In life you are either a this or a that. Come up with two possibilites: a this and a that. Then supply the correct answer.</h3>
                    </div>
                  </div>

                  <div class="row add_question">
                    <div class="col-sm-6 col-xs-12">
                      <form ng-submit="addQuestion()" style="margin-top: 30px;">
                        <h3>Add a new question</h3>
                        <div class="form-group ">
                          <input type="text" class="form-control" placeholder="Option 1" ng-model="option1"></input>
                          <input type="text" class="form-control" placeholder="Option 2" ng-model="option2"></input>
                          <input type="text" class="form-control" placeholder="Correct Answer" ng-model="correctAnswer"></input>
                        </div>
                        <button type="submit" class="btn btn-lg btn-default">Submit</button>
                      </form>
                    </div><!-- End .Col -->

                    <div class="col-sm-6 col-xs-12 new_questions">
                      <h3> Added Questions </h3>
                      <ul>
                        <li ng-repeat="question in testmaker.questions.slice().reverse() ">

                          <p><i class="fa fa-times-circle"></i> {{question.options[0]}} -OR- {{question.options[1]}}</p>
                          <p>Correct answer: {{question.correctAnswer}}</p>
                        </li>
                      </ul>
                    </div><!-- End .Col -->
                  </div><!-- End .Row -->

                </div><!--  .col -->
              </div><!--  .row -->

            </div><!-- .page_borders -->
          </div><!-- .col -->
        </div><!-- .row -->

      </div><!-- End .Container-Fluid -->

    </script>


    <script type="text/ng-template" id="/taketest.html">
      <div class="container-fluid">

        <!--
        // <a href="#/home">
        //   <div class="home">
        //     <i class="fa fa-home fa-4x"></i>
        //   </div>
        // </a>
        -->

        <div class="row">
          <div class="col-xs-12">
            <div class="page_title">
              <a href="#/testmakers/{{testmaker._id}}/taketest">
                <h1>How {{testmaker.first_name.substr(0,1).toUpperCase() + testmaker.first_name.substr(1)}} {{testmaker.last_name.substr(0,1).toUpperCase() + testmaker.last_name.substr(1)}} Are You?</h1>
              </a>

              <div ng-show="!link">
                <a class="" data-toggle="" href="#" ng-click="link = !link">Share Test</a>
              </div>

              <div ng-show="link">
                <a class="" data-toggle="" href="#" ng-click="link = !link">Copy & Paste: http://www.howmeareyou.com/#/testmakers/{{testmaker._id}}/taketest</a>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="taketest page_border center_block">

              <div class="row">
                <div class="col-xs-12 questions">
                    <h2>Question<br> #{{index +1}}</h2>
                </div><!-- End .col-xs-12 .questions -->
              </div><!-- End .row -->

              <div class="row">
                <div class="col-sm-5 col-xs-12 option_one">
                  <button type="button" class="btn btn-lg btn-success" ng-click="makeChoice(0)">{{currentQuestion.options[0]}}</button>
                </div><!-- .col -->

                <div class="col-sm-2 col-xs-12">
                  <h3>OR</h3>
                </div>

                <div class="col-sm-5 col-xs-12 option_two">
                  <button  type="button" class="btn btn-lg btn-success" ng-click="makeChoice(1)">{{currentQuestion.options[1]}}</button>
                </div><!-- .col -->
              </div><!-- .row -->

            </div><!-- .taketest -->
          </div><!-- .col -->
        </div><!-- .row -->

      </div><!-- End .Container-Fluid -->

    </script>

    <script type="text/ng-template" id="/results.html">
      <div class="container-fluid">

      <!--
      // <div class="dropdown">
      //   <a class="dropdown-toggle" data-toggle="dropdown" href="#">Options</a>
      //   <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      //     <li><a tabindex="-1" href="#">Make a Test</a></li>
      //     <li><a tabindex="-1" href="#">Take a Test</a></li>
      //     <li class="divider"></li>
      //     <li><a tabindex="-1" href="#">Separated link</a></li>
      //   </ul>
      // </div>
      -->

        <div class="row">
          <div class="col-xs-12">
            <div class="page_title">
              <a href="#/testmakers/{{testmaker._id}}/taketest">
                <h1>How {{testmaker.first_name.substr(0,1).toUpperCase() + testmaker.first_name.substr(1)}} {{testmaker.last_name.substr(0,1).toUpperCase() + testmaker.last_name.substr(1)}} Are You?</h1>
              </a>

              <div ng-show="!link">
                <a class="" data-toggle="" href="#" ng-click="link = !link">Share Test</a>
              </div>

              <div ng-show="link">
                <a class="" data-toggle="" href="#" ng-click="link = !link">Copy & Paste: http://www.howmeareyou.com/#/testmakers/{{testmaker._id}}/taketest</a>
              </div>

            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-xs-12">
            <div class="results page_border center_block">

              <div ng-show="!formIsVisible">
                <h2>You are {{score.toFixed(2)}}% {{testmaker.first_name.substr(0,1).toUpperCase() + testmaker.first_name.substr(1)}} {{testmaker.last_name.substr(0,1).toUpperCase() + testmaker.last_name.substr(1)}}</h2>
              </div>

              <form ng-show="formIsVisible" ng-submit="addTesttaker(); formIsVisible = !formIsVisible; takeTestIsVisible = !takeTestIsVisible" >
                <input type="text" class="form-control" placeholder="Name" ng-model="name"></input> <button type="submit" class="btn btn-sm btn-info">Submit</button>
              </form>

              <div class="row">
                <div ng-show="!takeTestIsVisible" class="col-sm-5 col-xs-12 option_one">
                  <button type="button" class="btn btn-lg btn-primary" ng-click="formIsVisible = !formIsVisible"><i class="fa fa-star"></i>  Save Name</button>
                </div><!-- .col -->

                <div ng-show="takeTestIsVisible" class="col-sm-5 col-xs-12 option_one">
                  <a href="#/take-test" class="btn btn-lg btn-primary">Take a Test</a>
                </div><!-- .col -->

                <div class="col-sm-2 col-xs-12">
                </div>

                <div class="col-sm-5 col-xs-12 option_two">
                  <a href="#/testmakers/{{testmaker._id}}/taketest" class="btn btn-lg btn-danger" ng-click="restartTest()"> <i class="fa fa-repeat"></i>  Try Again</a>
                </div><!-- .col -->
              </div><!-- .row -->

              <!--
              // <div class="row">
              //   <div class="col-xs-12">
              //     <a href="#/testmakers/{{testmaker._id}}/leaderboard" class="btn btn-lg btn-success"><i class="fa fa-users"></i>  Leaderboard</a>
              //   </div>
              // </div>
              -->

              <div class="row">
                <div class="col-xs-12">
                  <a href="#/make-test" class="btn btn-lg btn-success"><i class="fa fa-plus"></i>  Make a Test</a>
                </div>
              </div>

              <table class="table-bordered table-hover centered" id="leaderboard">
                <tr ng-repeat="testtaker in testmaker.testtakers | orderBy: '-_id'">
                  <td>{{testtaker.name}}
                  </td>
                  <td>{{testtaker.score}}%
                  </td>
                  <td ng-if="testmaker.first_name == 'Nic'">
                    <div style="width:120px;">
                      <div style="width:{{testtaker.score/100 * 120}}px; overflow:hidden;">
                        <img src="images/NicTest3.jpg">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>

            </div><!-- .results -->
          </div><!-- .col -->
        </div><!-- .row -->

      </div><!-- End .Container-Fluid -->

    </script>


    <script type="text/ng-template" id="/leaderboard.html">

      <div class="container-fluid">

        <div class="row">
          <div class="col-xs-12">
            <div class="page_title">
              <a href="#/testmakers/{{testmaker._id}}/taketest">
                <h1>How {{testmaker.first_name.substr(0,1).toUpperCase() + testmaker.first_name.substr(1)}} Are You?</h1>
              </a>
            </div>
          </div>
        </div>

        <div class="center_block">
          <a href="#/take-test">
            <i class="fa fa-long-arrow-left"></i> Back
          </a>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="leaderboard center_block">


                <div class="heading">
                  <h2>Leaderboard</h2>
                </div>

                <table class="table-bordered table-hover centered" id="leaderboard">
                  <tr ng-repeat="testtaker in testmaker.testtakers | orderBy: '-score'">
                    <td>{{testtaker.name}}
                    </td>
                    <td>{{testtaker.score}}%
                    </td>
                    <td ng-if="testmaker.first_name == 'Nic'">
                      <div style="width:120px;">
                        <div style="width:{{testtaker.score/100 * 120}}px; overflow:hidden;">
                          <img src="images/NicTest3.jpg">
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>

            </div><!-- .leaderboard -->
          </div><!-- .col -->
        </div><!-- .row -->

      </div><!-- End .Container-Fluid -->

    </script>


  </body>
</html>
