body {
  background:black;
  color:white;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.q-and-a {
  text-align:center;
  margin-top:75px;
}

.options button, .options a {
  margin:25px 0px;
  text-align:center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.questions, .heading, #leaderboard {
  font-family: 'Merriweather', serif;
}

.options h3 {
  display:inline-block;
  text-align:center;
}

form * {
  text-align:center;
  margin:5px auto;
}

.centered{
  text-align:center;
  margin:0 auto;
}

.heading {
  color: #4fa74f;

}

#leaderboard td{
  padding: 0px 30px;
  font-size: 24px;
}

.table-hover tbody tr:hover td {
    background: #4fa74f;
}

a p{
  font-style: italic;
  display:inline-block;
}


a:hover {
  color:white;
  text-decoration:none;
}

h1{
  display:inline-block;
}

.svg{
  border-radius:50%;
  background:#00b7ff;
  width:30px;
  height:30px;
  margin-top:-15px;
  padding:3px;
}

/*.svg:hover {
  background:#fff;

}*/

a:hover .svg {
  background:#fff;
}

.questions-list, .new-question{
  margin-top:50px;
}
