/* Sitewide */
body {
  background:black;
  color:white;
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.page_title {
  text-align:center;
  margin:0% 3%;
}

.page_title a{
  color:white;
}

.page_title a:hover{
  color:#d9534f;
}

.page_border{
  border: solid 4px #00b7ff;
  border-radius:25px;
  height:85vh;
  margin:2%;
  padding:1%;
}

a {
  color: #00B7FF;
}

.center_block {
  text-align:center;
  margin:5px auto;
}



.q-and-a {
  text-align:center;
  margin-top:75px;
}

.options button, .options a {
  margin:25px 0px;
  text-align:center;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.questions, .heading, #leaderboard {
  font-family: 'Merriweather', serif;
}

.options h3 {
  display:inline-block;
  text-align:center;
}

form * {
  text-align:center;
  margin:5px auto;
}

.centered{
  text-align:center;
  margin:0 auto;
}

.heading {
  color: #4fa74f;

}

#leaderboard td{
  padding: 0px 30px;
  font-size: 24px;
}

.table-hover tbody tr:hover td {
  background: #4fa74f;
}

a p{
  font-style: italic;
  display:inline-block;
}


a:hover {
  color:white;
  text-decoration:none;
}

h1{
  display:inline-block;
}

.svg{
  border-radius:50%;
  background:#00b7ff;
  width:30px;
  height:30px;
  margin-top:-15px;
  padding:3px;
}

/*.svg:hover {
background:#fff;

}*/

a:hover .svg {
  background:#fff;
}

.new-testmaker {
  margin-top:50px;

}


/* Home Page */

.home_page h2 {
  margin:10px;
  text-align: left;
}

.home_page .row {
  position:relative;
  top:40%;
}

.home_page .row * {
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Take Test */

.take_test {
  overflow:scroll;
  white-space: nowrap;
}

/* Make Test */

.name_input {
  margin-top:15%;
}

/* Add Question */
.create_test {
  overflow:scroll;
  white-space:normal;
}

.new_questions, .add_question{
  margin-top:30px;
}

.new_questions h3, .add_question h3{
  color:#d9534f;
  margin:0;
  font-size:24px;
}

li {
  text-align: left;
}

/*.submit_test {
margin-top: 20px;
position:fixed;
top:25px;
right:65px;
}*/

/* Taketest */

.taketest h2 {
  margin:110px 0 60px;
}

.option_one{
  text-align:right;
}

.option_two{
  text-align:left;
}

/* Results */

.results h2, .results form {
  margin:110px 0 60px;
}

.results form {
  height:33px;
}

.results .row {
  margin:40px 0px;
}

.results input{
  display:inline-block;
  width:30%;
}

.results button{
  position: relative;
  top: -3px;
}


/* Responsive Design */

@media (max-width: 768px) {

  .option_one, .option_two{
    display:block;
    text-align: center;
  }

}
