/* Sitewide */
body {
  background:black;
  color:white;
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.justify{
  text-align:justify;
}

.right_align{
  text-align: right;
}

.left_align{
  text-align:left;
}

.center_align{
  text-align: center;
}


.twenty_px_margins{
  margin:20px 0px;
}

.ten_px_margins{
  margin:20px 0px;
}

.page_title {
  text-align:center;
  margin:0% 3%;
  word-wrap: break-word;
}

.page_title a{
  color:white;
}

.page_title a:hover{
  color:#d9534f;
}

.page_border{
  border: solid 4px #00b7ff;
  border-radius:25px;
  height:85vh;
  margin:2%;
  padding:1%;
}

a {
  color: #00B7FF;
}

.center_block {
  text-align:center;
  margin:5px auto;
}

.home {
  /*border: 1px solid #00b7ff;*/
  padding:5px;
  color: #00b7ff;
  width:70px;
  /*border-radius: 50%;*/
  text-align:center;
  position:absolute;
  top:16px;
  left:28px;
  /*margin-top:20px;
  margin-bottom:-80px;*/
  z-index:10;
}

.q-and-a {
  text-align:center;
  margin-top:75px;
}

.options button, .options a {
  margin:25px 0px;
  text-align:center;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.questions, .heading, #leaderboard {
  font-family: 'Merriweather', serif;
}

.options h3 {
  display:inline-block;
  text-align:center;
}

form * {
  text-align:center;
  margin:5px auto;
}

.centered{
  text-align:center;
  margin:0 auto;
}

.heading {
  color: #4fa74f;

}

#leaderboard td{
  padding: 0px 30px;
  font-size: 24px;
  margin-top: 40px;
}

#leaderboard #pic{
  display:none;

}

.table-hover tbody tr:hover td {
  background: #4fa74f;
}

a p{
  font-style: italic;
  display:inline-block;
}


a:hover {
  color:white;
  text-decoration:none;
}

h1{
  display:inline-block;
}

.svg{
  border-radius:50%;
  background:#00b7ff;
  width:30px;
  height:30px;
  margin-top:-15px;
  padding:3px;
}

/*.svg:hover {
background:#fff;

}*/

a:hover .svg {
  background:#fff;
}

.new-testmaker {
  margin-top:50px;

}


/* Home Page */

.helvetica_thin{
  font-family: "Helvetica Thin", sans-serif;
}

.montserrat{
  font-family: "Montserrat"
}

.epigraph{
  padding:0px 40px;
  font-size:26px;
  margin:30px 0px;
  /*letter-spacing: -1px;*/
}

.site_descrip{
  padding:0px 30px;
  font-size:22px;
  margin:30px 0px;
}

.make_or_take{
  margin:100px 0px;
}

.make_or_take h3{
  position: relative;
  top: -10px;
}


.home_page{
  overflow:scroll;
  white-space:normal;
}


/* Take Test */

.take_test {
  overflow:scroll;
  white-space: inherit;
  padding: 0px 10px;
}

/* Make Test */


.make_test {
  /*overflow:scroll;*/
  white-space: normal;
}

.name_input {
  margin-top:15%;
}

/* Add Question */

.light_green{
  color:#5cb85c;
}

.italic{
  font-style: italic;
}

.create_test {
  overflow:scroll;
  white-space:normal;
}

.instructions{
  font-size:22px;
  padding:0px 30px;
}

input[type="radio"]{
  margin-top:15px;
}

.add_question{
  margin-top:20px;
  padding:0 30px;
}

.add_question h3{
  color:#d9534f;
  margin:0;
  font-size:24px;
}

.add_question .form-control{
  display: inline-block;
  width: 90%;
}

.new_questions ul {
  list-style-type: none;
}

.new_questions li {
  margin:10px 0px;
  text-align: left;
  border-bottom:1px solid gray;
}

.new_questions i {
  color:#d9534f;
  margin-right:10px;
}



/*.submit_test {
margin-top: 20px;
position:fixed;
top:25px;
right:65px;
}*/

/* Taketest */

.taketest h2 {
  margin:110px 0 60px;
}

.option_one{
  text-align:right;
}

.option_two{
  text-align:left;
}

.modal-title{
  color:black;
}

.modal-body p{
  color:black;
  margin:5px 0px;
}

/* Results */

.results h2, .results form {
  margin:110px 0 60px;
}

.results form {
  height:33px;
}

.results .row {
  /*margin:40px 0px;*/
}

.take_a_test{
  margin:4px 0px;
}

.make_a_test{
  margin:4px 0px;
}

.results input{
  display:inline-block;
  width:30%;
}

.results button{
  position: relative;
  top: -3px;
}

.results {
  overflow:scroll;
  white-space: nowrap;
}


/* Responsive Design */

@media (max-width: 768px) {

  .option_one, .option_two{
    display:block;
    text-align: center;
  }

  .make_or_take a{
    margin:10px 0px;
  }

  .new_questions{
    margin:20px 0px;
  }

  /* Home Page */
  .epigraph{
    padding:0px 20px;
    font-size:20px !important;
  }

  .btn-lg {
    font-size: 20px !important;
  }

  /* Add Questions */
  .instructions {
    text-align: left !important;
  }

  /* Results */

  .results {
    overflow:scroll;
    white-space: inherit;
    word-wrap: break-word;

  }



}


@media (max-width: 360px) {

  .block{
    display:block;
  }

}
